BasedOnStyle: LLVM
Language: Cpp
ColumnLimit: 90
IndentWidth: 2
TabWidth: 2
UseTab: Never
BreakAfterReturnType: AllDefinitions
BreakTemplateDeclarations: Yes
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Attach
BreakConstructorInitializers: BeforeComma
SortIncludes: Never
ReflowComments: true
